<div class="container">
  <h1 class="d-flex justify-content-center">PetsPortalApplication Demo</h1>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark" style="border-bottom:50px !important;">
    <ul class="navbar-nav">
      <li class="nav-item"><button class="m-1 btn btn-light btn-outline-dark" routerLink="" Button>Home</button></li>
    </ul>
  </nav>

  <router-outlet>  
    <!-- <div *ngIf="!isLoggedin" style="margin-top: 20px;">
      <div>
        Name: 
        <input [(ngModel)]="user.username" placeholder="Name">
      </div>
      <div>
        Password: 
        <input [(ngModel)]="user.password" placeholder="Password" type="password">
      </div>
      <button (click)="login(user)">Login</button>
    </div> -->

</router-outlet>
</div>


