<h3>Welcome to PetsPortal App Demo</h3>
<p><a href="/pets">Get started</a></p>
<div class="container">
<div *ngIf="!isLoggedIn()" style="margin-top: 20px;">
    <div>
      Name: 
      <input [(ngModel)]="user.username" placeholder="Name">
    </div>
    <div>
      Password: 
      <input [(ngModel)]="user.password" placeholder="Password" type="password">
    </div>
    <button (click)="login(user)">Login</button>
</div>
<div *ngIf="isLoggedIn()" style="margin-top: 20px;">
    <div><button (click)="logout()">Logout</button></div>

</div>